/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require select
 *= require_self
 *= require font-awesome
 */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&subset=cyrillic';

h1{
	font-size:2.4rem;
	font-weight: 700;
	padding: 10px 0;
}
h2{
	font-size:2.1rem;
	font-weight: 400;
	padding: 10px 0;
}
h3{
	font-size:1.8rem;
	font-weight: 400;
	padding: 10px 0;
}



 
 *{
 	position: relative;
 }
html{
	margin:0;
	padding: 0;
	font-size:62.5%;
}
body{
	margin:0;
	padding: 0;
	background:#d9dfe0;
	font-family:"Open Sans", sans-serif;
	font-size:1.2rem;
	color:#222;
}

.clr{
	clear:both;
}

.hidden{
	display:none;
}

.btf-modal{
	position:fixed;
	width:800px;
	margin-top: 200px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:20px;
	background:#fff;
	border:solid 1px #aaa;
	box-shadow:2px 2px 5px #aaa;
	left: 50%;
	margin-left: -400px;
	z-index: 5;
}
.btf-modal h3{
	margin:0;
	padding:0;
}
.btf-modal .close{
	position: absolute;
	right:20px;
	top:20px;
}

form input, form label, form textarea{
	width: 100%;
}
form .field{
	margin:20px 0;
}