// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.k-board{
	overflow: hidden;
	.k-swimlane{
		border-bottom:solid 1px #666;
		padding:20px 0;
		.k-status{
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			float:left;
			padding:0 10px;
			border-radius:4px;
			transition: background-color 0.2s ease;
			&:first-child{
				border-left: none;
			}
			&.over{
				background:#ddd;
			}
			.k-tasks{
				min-height:500px;
				.k-task{
					background:#fff;
					box-sizing:border-box;
					-moz-box-sizing:border-box;
					border-radius:3px;
					border:solid 1px #aaa;
					padding: 0 10px;
					cursor:pointer;
					margin-bottom:10px;
					-webkit-user-select:none;
					h4{
						margin:10px 0;
					}
				}
			}
		}
	}
}