<!DOCTYPE html>
<html>
<head>
  <title>Kanban</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body ng-app="kanbanApp">

<%= yield %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
